$accent: #fe3e57;
$defaul: #8d8d8d;
$title: #29282d;
$bg: #f6f6f6;

%Quicksand-400 {
  font-family: 'Quicksand-Regular',
  sans-serif;
  font-weight: 400;
}

%Quicksand-500  {
  font-family: 'Quicksand-Medium',
  sans-serif;
  font-weight: 500;
}

%Roboto-400 {
  font-family: 'Roboto-Regular',
  sans-serif;
  font-weight: 400;
}

%Roboto-500 {
  font-family: 'Roboto-Medium',
  sans-serif;
  font-weight: 500;
}

%Roboto-700 {
  font-family: 'Roboto-Bold',
  sans-serif;
  font-weight: 700;
}

%btn{
  padding: 14px 35px;
  text-transform: uppercase;
  color: #fff;
  background-color: $accent;
  @extend %Roboto-400;
  box-shadow: 0px 7px 20px 0px rgba(255, 17, 48, 0.3);
  padding: 12px 18px;
}